/*background*/

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    font-size: 3rem;
}

#back3 {
    position: absolute;
    width: 100vw;
    height: 99vh;
}

#back2 {
    
    position: absolute;
    left: 2vw;
    top: 2vh;
    width: 96vw;
    height: 95vh;
    background-color: white;
}

#back1 {
   
    position: relative;
    width: 48vw;
    left: 50vw;
    top: 2vh;
    height: 95vh;
    background-color: rgb(231, 226, 226);
}

.players {
    top: 10vh;
    position: absolute;
    left: 18vw;
}

#player1,
#player2 {
    top: 9vh;
    position: absolute;
    left: 30vw;
}

.totalScore {
    position: absolute;
    left: 22vw;
    top: 20vh;
    color: red;
    font-size: 4rem;
}

.roundSquare {
    position: absolute;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    left: 18vw;
    top: 65vh;
    background-color: red;
    font-size: 1.5rem;
}

.roundScore {
    text-align: center;
    margin-top: 2vh;
    font-size: 2rem;
}

/* buttons */

#buttonNewGame {
    position: absolute;
    width: 2rem;
    left: 42vw;
    top: 20vh;
}

.buttonNewGame {
    position: absolute;
    display: inline;
    font-size: 2rem;
    left: 45vw;
    z-index: 2;
    top: 19vh;
}

.dice img {
    position: absolute;
    width: 11%;
    left: 44.5%;
    z-index: 2;
    top: 35%;
}

#buttonRollDice {
    position: absolute;
    width: 2rem;
    left: 42vw;
    top: 65vh;
}

.buttonRollDice {
    position: absolute;
    display: inline;
    font-size: 2rem;
    left: 45vw;
    z-index: 2;
    top: 64vh;
}

#buttonHold {
    position: absolute;
    width: 2rem;
    left: 44vw;
    top: 75vh;
}

.buttonHold {
    position: absolute;
    display: inline;
    font-size: 2rem;
    left: 47vw;
    z-index: 2;
    top: 74vh;
}

@media screen and (max-width: 1800px) {
    #player1,
    #player2 {
        left: 34vw;
    }
    .dice img {
        width: 11%;
        left: 44.5%;
    }
}

@media screen and (max-width: 1300px) {
    body {
        font-size: 2.5rem;
    }
    .players {
        left: 15vw;
    }
    #player1,
    #player2 {
        left: 35vw;
        font-size: 3rem;
        top: 8vh;
    }
    .totalScore {
        font-size: 3rem;
    }
    .roundScore,
    .roundSquare {
        font-size: 1.5rem;
    }
    #buttonNewGame {
        width: 2rem;
        left: 38vw;
        top: 25vh;
    }
    .buttonNewGame {
        font-size: 2rem;
        left: 42vw;
        top: 24.5vh;
    }
    #buttonRollDice {
        width: 2rem;
        left: 38vw;
        top: 57vh;
    }
    .buttonRollDice {
        font-size: 2rem;
        left: 42vw;
        top: 56.5vh;
    }
    #buttonHold {
        width: 2rem;
        left: 42vw;
        top: 63vh;
    }
    .buttonHold {
        font-size: 2rem;
        left: 46vw;
        top: 62.5vh;
    }
}

@media screen and (max-width: 900px) {
    .players {
        left: 11vw;
    }
    #player1,
    #player2 {
        left: 43vw;
        font-size: 3rem;
        top: 8vh;
    }
    .roundScore,
    .roundSquare {
        top: 70vh;
    }
    #buttonNewGame {
        left: 36vw;
        top: 27.5vh;
    }
    .buttonNewGame {
        left: 42vw;
        top: 26.5vh;
    }
    .dice img {
        left: 44.5%;
        z-index: 2;
        top: 40%;
    }
    #buttonRollDice {
        left: 36vw;
        top: 57vh;
    }
    .buttonRollDice {
        left: 42vw;
        top: 56.5vh;
    }
    #buttonHold {
        left: 40vw;
        top: 63vh;
    }
    .buttonHold {
        left: 46vw;
        top: 62.5vh;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 2rem;
    }
    .players {
        left: 6vw;
    }
    #player1,
    #player2 {
        top: 6.5vh;
    }
    .roundScore,
    .roundSquare {
        top: 80vh;
        left: 10vw;
    }
    #buttonNewGame {
        width: 1.5rem;
        left: 36vw;
        top: 31vh;
    }
    .buttonNewGame {
        font-size: 1.3rem;
        left: 42vw;
        top: 30.5vh;
    }
    .dice img {
        width: 20%;
        left: 40%;
        z-index: 2;
        top: 40%;
    }
    #buttonRollDice {
        width: 1.5rem;
    }
    .buttonRollDice {
        font-size: 1.3rem;
        left: 42vw;
        top: 56.5vh;
    }
    #buttonHold {
        width: 1.5rem;
    }
    .buttonHold {
        font-size: 1.3rem;
    }   
}


@media screen and (max-width: 390px) {
    body {
        font-size: 1rem;
    }
    .players {
        left: 15vw;
    }
    #player1,
    #player2 {
        left: 43vw;
        font-size: 2rem;
        top: 7vh;
    }
    .totalScore {
        font-size: 2rem;
        top: 16vh;
    }
    .roundScore,
    .roundSquare {
        font-size: 1rem;
    }
    .roundSquare {
        left: 11vw;
    }
    #buttonNewGame {
        width: 1rem;
        left: 36vw;
        top: 25vh;
    }
    .buttonNewGame {
        font-size: 1rem;
        left: 42vw;
        top: 24.5vh;
    }
    #buttonRollDice {
        width: 1rem;
        left: 36vw;
        top: 55vh;
    }
    .buttonRollDice {
        font-size: 1rem;
        left: 42vw;
        top: 54.5vh;
    }
    #buttonHold {
        width: 1rem;
        left: 37vw;
        top: 60vh;
    }
    .buttonHold {
        font-size: 1rem;
        left: 43vw;
        top: 59.5vh;
    }
}



